@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

*{

  padding:0;
   margin:0;
   font-family: 'Roboto Slab', serif;


  

  --letras-azul:#03c2b2;
 

}
body{
  background:#174d9e;

}